export PIPENV_VENV_IN_PROJECT=true
export ENV_APP_ROOT_DIR=/mnt/c/Users/idor/Projects/moneyfier
export ENV_PYTHON_EXECUTABLE=/mnt/c/Users/idor/Projects/moneyfier/.venv/bin/python
export BOT_TOKEN=595793516:AAEs8c-77L5hlcP9llcY7CJUIdu9-Apuud4

export YTHONUNBUFFERED=1
export ACS_TOKEN=c4r8w4kQ5BwAAAAAAAAYX2hFLCgaN4QwfDguNXq7CaIwa_3yFlOfbaLrTine9JSz
export DB_USER=postgres
export DB_PASSWORD=postgres
export DB_NAME=moneyfier
export DST_FOLDER=/mnt/c/Users/idor/Projects/moneyfier/downloads