[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
"flake8" = "*"
black = "*"

[packages]
requests = "*"
dropbox = "*"
sanic = "*"
transliterate = "*"
sqlalchemy = "*"
"psycopg2" = "*"
aiopg = "*"
python-telegram-bot = "*"
marshmallow = "*"
click = "*"
psycopg2-binary = "*"
